body {
    --nav-width: 30%;
    margin: 0 0 0 var(--nav-width);
    font-family: "Trebuchet MS";
    font-size: 15px;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100%;
    background: cornflowerblue;
}

.navigation__link {
    display: block;
    padding: 15px 20px;
    text-decoration: overline;
    color: darkblue;
    font-weight: bolder;
}

.navigation__link:hover {
    background: cadetblue;
}

#app {
    margin: 100 - var(--nav-width);
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: floralwhite;
}