body {
    --nav-width: 15%;
    margin: 0 0 0 var(--nav-width);
    padding-left: 15px;
    font-family: Arial;
    font-size: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.navigation {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100%;
    background: cornflowerblue;
}

.navigation__link {
    display: block;
    list-style-type: circle;
    padding: 10px;
    color: darkblue;
    font-weight: bolder;
}

.navigation__link:hover {
    background: cyan;
}

.navigation__link:active {
    background-color: darkslateblue;
    color: white;
}