body {
    --nav-width: 15%;
    margin: 0 0 0 var(--nav-width);
    font-family: "Trebuchet MS";
    font-size: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}
li a {
    display: block;
    text-align: center;
}

.navigation {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100%;
    background: cornflowerblue;
}

.navigation__link {
    display: block;
    list-style-type: circle;
    padding: 10px;
    color: darkblue;
    font-weight: bolder;
}

.navigation__link:hover {
    background: cyan;
}

.navigation__link:active {
    background-color: darkslateblue;
    color: white;
}

#app {
    margin: 100 - var(--nav-width);
    padding: 5px 15px;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: darkblue;
}