<body>
<h1 class="page-header">Hello and welcome to my art website!</h1>
<section class="page-content">
    <p class="page-description">
        I am an aspiring computer programmer having returned from my placement year. During that time I have worked as a
        PHP and Java developer, working on bug fixes for our company product. The company product was divided into two
        seperate sites: one
        customer facing, and the other was used by Service Desk and 75% of our clients. I was assigned to the team
        fixing and adding features to the latter.
        I have learned to use Docker, Jira, RabbitMQ, SonarQube, SOAPUI and MySQL Workbench on my placement, and worked
        predominantly with the Symfony PHP framework.
        After returning from placement I felt like I needed a new challenge for my final year project.
        I have chosen front-end web development as a second year module, and I also wanted a frontend final year project
        as a way to show off my creative mind.
        The subject of algorithmic and generative art was introduced to me at university, and I was already fascinated
        by mandalas and the dot-work tattoo style.

        Following the end of university, I will be adding artwork to this site in my own time.
        The pieces I have developed during university time are:
    </p>
    <ul class="page-list">
        <li class="list-element">Custom Fractal Builder</li>
        <li class="list-element">L-system garden</li>
        <li class="list-element">L-system mandala</li>
        <li class="list-element">L-system DNA</li>
    </ul>
    <p class="page-description">
        The basis for my final year project is L-systems or Lindenmayer systems, an algorithm that allows the final
        drawn product to exhibit self similarity to its smaller components.
        After taking this project further in my spare time, I will add a range of additional algorithms that can be used
        to generate artwork.
    </p>
</section>
</body>
</html>