<!DOCTYPE html>
<html lang="en">
<body>
<h1 class="page-header">My artwork</h1>
<section class="page-content">
    <p class="page-description">
        Below you will see some artwork I have created in the last 9 months.
    </p>
    <ul class="artwork-navigation">
        <h2 class="artwork-navigation-header">Research art pieces</h2>
        <li class="navigation__link" onclick="router.loadRoute('artwork-mandala')">Preface: Mandala inspiration</li>
        <li class="navigation__link" onclick="router.loadRoute('artwork-lindenmayer')">Preface: Lindenmayer
            inspiration
        </li>
        <h2 class="artwork-navigation-header">Developed art pieces</h2>
        <li class="navigation__link" onclick="router.loadRoute('artwork-fractal-lsystem')">Custom fractal builder</li>
        <li class="navigation__link" onclick="router.loadRoute('artwork-garden-lsystem')">L-system garden</li>
        <li class="navigation__link" onclick="router.loadRoute('artwork-mandala-lsystem')">L-system mandala</li>
        <li class="navigation__link" onclick="router.loadRoute('artwork-dna-lsystem')">L-system DNA</li>
        <h2 class="artwork-navigation-header">Developed art pieces (post-university)</h2>
        <li class="navigation__link">Come back later to see...</li>
    </ul>
</section>
</body>
</html>