<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <h1>An algorithmic art website using Vanilla JavaScript</h1>
    <p>
        This is the final year project I have chosen for my BSc Computer Science Hons.
        I have chosen this as I wanted a web development based project which was challenging while at the same time capturing artistically my interest in patterns and symbols.
    </p>
    <ul class="footer-navigation">
        <li class="navigation__link" onclick="router.loadRoute('about-me')">About me</li>
        <li class="navigation__link" onclick="router.loadRoute('artwork-home')">My artwork</li>
    </ul>
</body>
</html>