<!DOCTYPE html>
<html lang="en">
<body>
    <h1>My artwork</h1>
    <p>
        Below you will see some artwork I have created in the last 9 months.
    </p>
    <div id="data-artwork-carousel"></div>
    <ul class="artwork-naviagtion">
        <li class="navigation__link" onclick="router.loadRoute('artwork-mandala')">Mandala inspiration</li>
        <li class="navigation__link" onclick="router.loadRoute('artwork-lindenmayer')">Lindenmayer inspiration</li>
    </ul>
    <hr>
    <ul class="footer-navigation">
        <li class="navigation__link" onclick="router.loadRoute('')">Home</li>
        <li class="navigation__link" onclick="router.loadRoute('about-me')">About me</li>
    </ul>
    <script src="frontend/static/js/index.js"></script>
    <script src="frontend/static/js/router.js"></script>
    <script src="frontend/static/js/routes.js"></script>
</body>
</html>